{% extends "layouts/base.html.twig" %}
{% block title "Modifier mon mot de passe" %}
{% block body %}

	<div class="container">
		<h1 class="text-center">
			Modifier mon mot de passe!
		</h1>
		<a href="{{ path('app_account') }}" class="text-decoration-none text-dark ml-5">
			Retouner à mon compte
		</a>

		<hr>
		{{ form(form) }}
	</div>


{% endblock %}
